
.logo_pos {
    padding: 70px 0;
}

.LandingPage_container {
    display: flex;
    justify-content: space-around;

}

.LandingPage__left {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    width: 50%;
}

.LandingPage__right {
    display: flex;
    flex-direction: column-reverse;
    
}

.LandingPage__logo {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-transform: lowercase;

    margin: 100px 0 0 100px;
}

.LandingPage__dot {
    color: #ff8100;
}

.LandingPage__grades {
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    text-transform: lowercase;

    margin: 65px 0 0 0px;
}

.LandingPage__better {
    color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: 500;
}

.LandingPage__swoosh {
    width: 391.91px;
    height: 54.04px;

    margin: -16px 0 150px 40px;
}

.LandingPage__description {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;

    margin: -150px 0px 90px 0px;
}

.btn_register{
    font-family: "Outfit";
padding: 25px 75px;
border: none;
background-color: #FF8100;
box-shadow: 0px 8px 0px #D75309;
border-radius: 9px;

font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 20px;
color: #ffffff;
}


.btn_register:hover
{
    cursor: pointer;
    background-color: #e27201;
}


.btn_login {
    font-family: "Outfit";

    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    background: #6c63ff;
    box-shadow: 0px 8px 0px #423AC2;
    border-radius: 9px;
    outline: none;
    border: none;
    color: white;
    margin: 20px 0 0 650px;
    padding: 25px 75px;
}
.btn_login:hover
{
    background: #5f58e6;
}


.LandingPage__dots {
    position: relative;
    left:-58px;
    top:30px;
    width: calc(667px * 0.1);


}

@media (max-width: 1725px) {
.LandingPage_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.btn_login
{
    position: relative;
    top:-120px;
    left:-234px;
}

}
