
.logo_pos {
    padding: 70px 0;
}

.LandingPage_container {
    display: flex;
    justify-content: space-around;
    

}

.LandingPage__left {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    width: 50%;
}

.LandingPage__right {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    
}

.LandingPage__logo {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-transform: lowercase;

    margin: 100px 0 0 100px;
}

.LandingPage__dot {
    color: #ff8100;
}

.LandingPage__grades {
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    text-transform: lowercase;

    margin: 65px 0 0 0px;
}

.LandingPage__better {
    color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: 500;
}

.LandingPage__swoosh {
    width: 391.91px;
    height: 54.04px;

    margin: -16px 0 150px 40px;
}

.LandingPage__description {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 1px;
    margin: -150px 0px 50px 0px;
}




.btn_login {
        margin: 60px 0 0 650px;
}




.LandingPage__dots {
    position: relative;
    left:-58px;
    top:30px;
    width:100px;


}

.LandingPage__img_landing_right
{
    height: 80%;
}

@media (max-width: 1375px) {
.LandingPage_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.btn_login
{
    position: relative;
    top:-120px;
    left:-234px;
}

}
