.LandingPage {
    display: flex;
    height: 100%;
}

.LandingPage__firstHalf {
    display: flex;
    flex-direction: column;
}

.LandingPage__logo {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-transform: lowercase;

    margin: 100px 0 0 100px;
}

.LandingPage__dot {
    color: #ff8100;
}

.LandingPage__grades {
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    text-transform: lowercase;

    margin: 151px 0 0 111px;
}

.LandingPage__better {
    color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: 500;
}

.LandingPage__swoosh {
    width: 391.91px;
    height: 54.04px;

    margin: -16px 0 150px 400px;
}

.LandingPage__description {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;

    margin: -150px 0px 90px 120px;
}

.LandingPageButton {
    font-family: "Outfit";

    border-radius: 5px;
    box-shadow: 0px 4px 0px #d75309;
    font-weight: 600;
    font-size: 20px;
    background: #ff8100;
    width: 241px;
    height: 76px;
    border: none;
    color: white;
    margin: -30px 0px 90px 120px;
}

.LandingPageButtonLogin {
    font-family: "Outfit";

    border-radius: 5px;
    box-shadow: 0px 4px 0px #423ac2;
    font-weight: 600;
    font-size: 20px;
    background: #6c63ff;
    width: calc(241px * 0.8);
    height: calc(76px * 0.8);
    outline: none;
    border: none;
    color: white;
    margin: 20px 0 0 650px;
}

.LandingPage__secondHalf {
    flex-grow: 0;
}

.LandingPage__secondHalf>img {
    position: absolute;
}

.LandingPage__img1 {
    left: 1120px;
    width: calc(376px * 0.9);
    height: calc(567px * 0.9);
    top: 120.5px;
}

.LandingPage__img2 {
    right: 100px;
    top: 400px;

    width: calc(596px * 0.85);
    height: calc(471px * 0.85);
}

.LandingPage__dots1 {
    right: 726px;
    top: 490px;
}

.LandingPage__dots2 {
    right: 158px;
    top: 170px;
    width: calc(256px * 0.95);
    height: calc(346px * 0.95);
    z-index: -1;
}

.LandingPage__dots3 {
    width: calc(650px * 0.1);
    height: calc(1361.33px * 0.1);
    image-rendering: auto;
}

.LandingPage__shape1 {
    right: 180px;
    width: calc(584px * 0.85);
    height: calc(732px * 0.9);
    top: 60px;
    z-index: -1;
}