.tag_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    gap: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;
    text-align: center;

    border-radius: 3px;

    width: fit-content;
    white-space: nowrap;

}



.tag_blue {
    color: #484848;


    background: #EDF6FE;
    border: 1px solid #D7E9FF;
}


.tag_green {
    color: #484848;

    background: #EDFEF1;
    border: 1px solid #D7FFD9;
}


.tag_yellow {
    color: #484848;

    background: #FEF9ED;
    border: 1px solid #FFEFD7;
}


.tag_red {
    color: #484848;


    background: #FEEDED;
    border: 1px solid #FFD7D7;
}

@media screen and (max-width: 1300px) {
    .tag_container {
        gap: 0;
        font-size: 0;
    }
}