

.TaskSubject
{
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 19px;
color: #959595;

}

.TaskItemWrapper
{
  text-align: left;
 display: flex; 
 align-items: center;
 flex-direction: row;
 justify-content: space-between;
 gap:30px;
 width: 100%;
}

.TaskItemTitleContainer
{
  text-align: left;
  display: flex; 
  flex-direction: column;
  width: 35%;
}

.TaskItemDateContainer
{
  text-align: left;
  display: flex; 
  flex-direction: column;
  
}

.TaskDeadlineDate
{
  font-weight: 300;
  font-size: 14px;
  line-height: 13px;
  background: none;
  color: #71747D;
  white-space: nowrap;
}

.TaskDaysRemaining
{
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  
  color: #959595;
}


.TaskDetailsContainer {
  background-color: #ffffff;
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.TaskContainer {
  flex-direction: column;
  display: flex;
  background-color: white;
  width: 40%;
}

.btn_task
{
  margin-top: 25px;
}








.TaskItem__active {
  width: 100%;
  align-items: center;


  background: rgba(143, 138, 217, 0.1);
  border-left: 7px solid #8F8AD9;
  transition: all 0.2s;

}
.TaskItem {
  width: 100%;
  align-items: center;



  background: #ffffff;

  transition: all 0.2s;
}
.TaskItem:nth-child(2n)
{
background-color: #FCFCFC;
}


.TaskItem:hover
{
  background-color: #eeeeee;
  transition: all 0.2s;
}


.deadline_cell,.tag_cell
{
  text-align: -webkit-center;
  align-self: center;
}

.title_cell,.deadline_cell,.tag_cell
{
  padding: 18px 32px;
}

.title_cell
{

  font-weight: 400;
  font-size: 16px;
  padding: 16px 32px;
  color: #1D1D1F;
  text-transform: capitalize;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}