

.TaskDescriptionContainer
{

    min-width: 100%;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100%;
    gap: 16px;
}

.TaskDescriptionContainer__teacher
{

    min-width: 100%;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    height: 100%;
    gap: 8px;
}



.TaskDescriptionContainer__empty
{
    justify-content:start;
}

.DescriptionContainer
{
    height: 100%;
    overflow: auto;
    padding: 0 32px;
}
.description
{
    padding-bottom: 16px ;
    padding-right: 16px;
    background: #ffffff;
    /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05); */
    text-transform: inherit;
    font-weight: 300;
    font-size: 16px;
    line-height: 142%;
    text-align: justify;
    overflow: auto;
    color: #000000;
    overflow-wrap: break-word;


    overflow-y: auto;

}
.title
{
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    color: #1D1D1F;
    
    line-height: normal;
}

.center
{
    display: flex;
    justify-content: center;

}

.TableContainer
{

    width: 100%;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    text-align: initial;
}


