.actionBar_container
{
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;

    width: 100%;
    box-sizing: border-box;
    
    

    
    color: #EFEFEF;
    background: #1D1D1F;

    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    width: 100%;

}
