*
{
    margin: 0;
    box-sizing: border-box;
}
.registration_div
{
    display: flex;
    justify-content: space-between;
   max-height: 100%;
   max-width: 100%;
}
.student_image
{
   
    height: 100vh;
    object-fit: cover; 
    flex-shrink: 1;
    float: right; 
}
@media only screen and (max-width: 1000px) 
{
    .register_right
    {
        display: none;
    }
    .registration_div > .register_left
    {
        width: 100vw;
        margin-right: 0;
        
    }
    .registration_div
    {
        margin:0;
    }
    .register_left_form
    {
        height: 100%;
    }
    .register_left_form > .form_input_registration
    {
    /* For mobile view */
        width: 65%;
        height: 6vh;
        margin: 6% 0 0 2.5%;
        
    }
    .registration_div > .register_left >  .logo_registration {
    
        /* For mobile view */
    
            margin: 5vh 0 0 0; 
            align-self: center;
            
        }

    /* I don't know why but doing ... > .started, .details doesn't work, so I do it seperately */
    .registration_div > .register_left >  .started {
    
    /* For mobile view */

        margin: 5% 0 0 0; 
        
    }
    .registration_div > .register_left >  .details 
    {
    
        /* For mobile view */
         margin: 2.5% 0 5% 0;
    }

    .dots
    {
        display: none;
    }
    .arch
    {
        display: none;
    }

    .register_left_form > .form_buttons
    {
        flex-direction: column;
        margin: 7% 0 0 0;
        gap: 2.5vh;
    }

    .register_left_form > .register_as
    {
        margin: 20px 0 0 0;
    }

    .register_left_form > .form_buttons > .register_btn
    {
        width: 100%;
        

    }

    
}

.register_left
{
   display: flex;
   width: 50%;
   flex-direction: column;
}
.register_right
{
    padding: 0;
    margin: 0 0 0 5.11vw;
}
.register_left_form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
}

.form_input_registration
{
    /* should be width: 531px and height: 70px, converted to vh and vw
    width: 27.65vw;
    height: 7.22vh;
     overriden by form__input__viewport in inputs.module.css */
    margin: 1.97vw 20.3% 0 0;
}
.started
{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    margin: 70px 20% 0 0; 
}
.details
{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin: 28px 20% 0 0; 
    color: #C7C7C7;
}
.logo_registration
{
    margin: 50px 0 0 120px;
}

.form_buttons
{
    display: flex;
    flex-direction: row-reverse;
    margin: 1.97vw 20.3% 0 0;
    gap: 49px;
}

.register_btn
{
    width: 12.55vw;
    height: 7.84vh;
    
}

.register_left_form > .register_btn
{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

.register_as
{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    color: #000000;
    margin: 1.97vw 20.3% 0 0;
}

.dots
{
    position: absolute;
    width: calc(256px*1.1);
    height: 346px;
    left: 500px;
    top: 72px;

    z-index: -1;
}

.arch
{
    position: absolute;
    width: 342px;
    height: 283px;
    left: 852.96px;
    top: -65.33px;

    
    border-radius: 0px 999px 0px 0px;
    transform: matrix(0.17, 0.98, 0.98, -0.17, 0, 0);
    z-index: -1;
}