.logo {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
    grid-row-start: 1;
    width: 144px;
}

.registration_container {
    min-height: 100vh;
    grid-row-start: 2;
    max-width: 1120px;
    display: grid;
    grid-template-columns: repeat(12, 64px);
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 32px;
    grid-row-gap: 8px;
    margin: 64px auto;
    height: 86vh;

    vertical-align: middle;
    max-height: 100%;

    background-color: white;
}

.register_form_container {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 8;

    margin-top: 48px;
    gap: 36px;
}


.register_form_double__input {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 32px;

}

.register_form_double__radio {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    flex: 2 1;

}


.pattern_container__orange {
    grid-row-start: 1;
    display: inline-grid;
    grid-row-end: 12;
    grid-column-start: 10;
    grid-column-end: 12;
    background-size: cover;
    width: 40vw;
    height: 110%;
    overflow: visible;
    transform: translateY(-8%);
    background-image: url("./img/pattern-orange.png");
}

.pattern_container__purple {
    grid-row-start: 1;
    display: inline-grid;
    grid-row-end: 12;
    grid-column-start: 10;
    grid-column-end: 12;
    background-size: cover;
    width: 40vw;
    height: 110%;
    overflow: visible;
    transform: translateY(-8%);
    background-image: url("./img/pattern-purple.png");
}

.pattern_img {
    height: auto;
    width: 45%;
}


.form_buttons {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}


.invalid__email {
    margin: -5% 52% 0 0;
    color: red;


}