
.NavbarButton_container
{
    display: flex;
    justify-content: row;
}

.btn-subject:hover
{
    margin-left: 8px;
    font-weight: 400;
    transition: all 0.5s;
}


.btn-subject {

align-items: center;

color: #ffffff;
padding: 14.5px 16px 14.5px 16px;

font-size: 16px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;


height: 56px;
width: 100%;

background: none;

border-right:none;
color:#ffffff;
transition: all 0.5s;
}

.btn-subject-active
{
    
align-items: center;

color: #ffffff;
padding: 14.5px 16px 14.5px 16px;

font-size: 16px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
text-align: left;


height: 56px;
width: 100%;

background: #8f8ad915;

border-right: 4px solid #8F8AD9;
color:#8F8AD9;
transition: all 0.5s;

}
