.navbar_container {
    background-color: #1D1D1F;
    padding-left: 24px;
    height: 100%;

    width: clamp(256px, 256px, 256px);
    min-width: 256px;
    padding-bottom: 16px;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;

}

.logo {
    width: 156px;
    display: block;
    padding-bottom: 32px;

}

.controls {
    position: relative;
    padding: 24px 0 28px 0;
    width: 52px;
}

.button_container {
    display: flex;
    gap: 8px;
    flex-direction: column;

    overflow: auto;
    height: 80%;
}

.navbar_divider {
    color: #3A3A3A;
    outline: none;
    box-shadow: none;
    border: 1px solid #3A3A3A;
    margin-top: 8px;
    margin-bottom: 16px;
}

.lower_container {
    flex-grow: 1;
    align-items: center;
    box-sizing: border-box;
    align-self: center;
    padding-right: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
}


@media screen and (max-width: 1160px) {

    .navbar_container
    {
        padding: 2px;
    background-color: #1D1D1F;
    min-width: 169px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.lower_container {
padding: 2px;
}
  }