.navbar
{
    padding: 20px;
    /* background-color: #28383D; */
    background-color: #ffffff;
   
}


.logo {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    text-transform: lowercase;
    background-color: white;
    color: #000000;
}

.orange_dot {
    color: #FF6B00;
}

.horizontal_line
{
    margin: 0;
border-top: 1px solid #eeeeee;
}

.date
{
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;

color: #000000;

margin-left: 100px;
}

.calendarIcon
{
    position: relative;
    top: 4px;
    left: -10px;
}

.form_input_searchbar
{
    /* margin-left: 50px; */
    position: relative;
    left: 45%;
}

.user_profile_picture
{   
    position: relative;
    top: 15px;
    left: 900px;
    border-radius: 999px;
    height: 55px;
    width: 55px;
}