.logo {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-transform: lowercase;

    color: #000000;
}

.orange_dot {
    color: #FF6B00;
}