input
{
    font-family: 'Outfit';
    font-style: normal;
}

.Inputfield_container
{
height: 76px;
width: 100%;
display: flex;
flex-direction: column;
gap: 0px;
}



.Inputfield_container__code
{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.code_input
{
    font-weight: 600;
    background: #FBFBFB;
    border: 1px solid #E8E8E8;

    padding: 25px 75px;
    
    
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    
    text-align: center;
    letter-spacing: 0.085em;
    
    color: #1d1d1d;
    width: 100%;
    
    transition:all 0.2s;
}


.Inputfield_labels_container
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 32px;
    min-height: 32px;
    align-items: center;
}

.Inputfield_labels_container__empty
{
    height: 0;
    min-height: 0;
}
.Inputfield_label
{
font-weight: 500;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
color: #1D1D1F;
}

.form__input {
    box-sizing: border-box;
    padding: 12px 16px;
    height: 44px;
    
    background: #FBFBFB;
    border: 1px solid #E8E8E8;

    width: 100%;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #1D1D1F;
    
}

.Inputfield_container__file
{
    height: 116px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.file_input {
    outline: dashed #BEBEBE 1px;
    display: inline-block;
    background-color: #f7f6f9;
    border-spacing: 2px;

    height: 100%;
    width: 100%;
    font-size: 0;
    transition: all 0.05s;
}


.file_input:hover {
    background-color: #f3f2fa;
    cursor: pointer;
    transition: all 0.05s;
}

.file_input::-webkit-file-upload-button {
    visibility: hidden;
}

.file_input::before {

    content: 'Drag and drop your files here.';
    display:
        flex;
    flex-direction: column-reverse;
    text-align: center;
    border-radius: 3px;
    padding: 32px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;

    justify-content: center;
    height: 100%;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    vertical-align: middle;
    color: #818181;
    outline: none;
    border: none;
}


