.label_orange {
    display: flex;
    gap: 32px;


    background: #FF9B35;
    border-bottom: 6px solid #FF8100;

    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    transition: all 0.5s;

    padding: 16px 32px;
}

.label_purple {
    display: flex;
    gap: 32px;


    background: #8F8AD9;
    border-bottom: 6px solid #807CBF;
    color: white;

    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    transition: all 0.5s;

    padding: 16px 32px;

}

.label_purple:hover,
.label_orange:hover {
    flex-grow: 1;
}

.label_purple:has(> input[type="radio"]:checked),
.label_orange:has(> input[type="radio"]:checked) {
    flex-grow: 1;
}