.btn_large {
    padding: 20px 55px;
}

.btn_normal
{
    padding: 15px 25px;
}

.btn_long {
    padding: 15px 60px;
}



.btn_orange {
    background: #ff8100;
    box-shadow: 0px 8px 0px #d75309;
    
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    outline: none;
    border: none;
    
    border-radius: 9px;
    
    
}

.btn_orange:hover {
    background: rgb(231, 99, 22);
    box-shadow: 0px 8px 0px rgb(201, 79, 8);
}

.btn_purple {
    background: #6c63ff;
    box-shadow: 0px 8px 0px #423AC2;

    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 9px;

}


.btn_purple:hover {
    background: #5f58e6;
}




.btn_green:hover {
    background: #00e95d;
    box-shadow: 0px 8px 0px #0DCA58;
}

.btn_green {
    color: white;



    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
    text-align: center;


    background: #00FF66;
    box-shadow: 0px 8px 0px #0DCA58;
    border-radius: 9px;

}



.btn-subject {
    padding: 23px 25px;


    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #898989;
    box-shadow: none;
    background: #ffffff;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #f8f8f8;
}

.btn-subject-active {
    padding: 23px 25px;


    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    background: #6c63ff;
    box-shadow: 0px 4px 0px #423ac2;
    border-radius: 5px 0px 0px 5px;
    color: white;
}

.btn-subject:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}

.btn_cancel {
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    color: black;
    background: #ffffff;
    border: 1px solid #ababab;
    box-sizing: border-box;
    box-shadow: 0px 8px 0px #ababab;
    border-radius: 9px;
}

.btn_cancel:hover {
background-color:#e6e6e6 ;

}