.btn_wrapper
{
    padding: 16px 32px ;
    width: 100%;

    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: white;  
    transition: all 0.2s;
    white-space:nowrap;
}



.button_container
{
    transform: scale(1);
    transition: transform 0.2s;
}
.button_container:has(.btn_ghost):hover,.button_container:has(.btn_white):hover {
    outline:none;
    box-shadow: none;
    
  }

  
  .button_container:hover {
    transition: transform 0.2s;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px #b9b9b93a;
    outline: 1px solid black;
  }




.btn_ghost
{
    color: #1D1D1D;
    background-color: #00000000;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;

    align-items: center;
    text-align: center;
    padding: 8px 16px ;

    transition: all 0.2s;
    white-space:nowrap;
}

.btn_ghost:hover
{
    font-weight: bolder;
    transition: all 0.2s;
    box-shadow: none;
    outline: none;
}


.button_ghost__active_indicator
{
    position: relative;
    top: -10px;
    left:23px
}

.btn_orange {
    background: #FF9B35;
    border-bottom: 6px solid #FF8100;
}

/* .btn_orange:hover {
    background: #f07801;
} */

.btn_black {
    background: #393939;
    border-bottom: 6px solid #000000;
}


.btn_purple {
 background: #8F8AD9;
border-bottom: 6px solid #807CBF;
color: white;
}

.btn_purple:hover {
    background: #8b86d3;
}

/* #ababab */
.btn_white {
    color: #1D1D1D;
    background: #FFFFFF;
    border: 2px solid #C8C8C8;
    box-shadow: 0px 4px 0px #C8C8C8;
}


.btn_green {
    background: #78D494;
    border-bottom: 6px solid #66B47D;
    color: #FFFFFF;  
}

.btn_green:hover {
    background: #78D494;
    border-bottom: 6px solid #66B47D;
}





.button_icon_prepend
{
    position: absolute;
    top:17px;
    left: 69px;
    width: 20px;
    z-index: 1;
}

