.form__input {
    font-family: 'Outfit';
    color: black;

    border: 1px solid #CBC8DE;
    border-radius: 9px;
    
    font-weight: 500;
    
}

.form__input::placeholder {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    
    color: #7D797E;

}


.form__input__big
{
padding: 0 0 0 55px;
    margin: 20px;
    width: 100%;
    height: 70px;
    font-size: 20px;
}

.form__input__normal {
    padding: 0 0 0 20px;
    margin: 20px 0;
    height: 50px;
    font-size: 16px;
    width: 95%;
}

.form__input__code
{
    text-align: center;
    font-size: 64px;
    margin: 20px 0px;
    width: 100%;
    height: 116px;

}


.form__input__code::placeholder
{
    text-align: center;
    font-size: 16px;
}

.form__input__viewport
{
    font-family: 'Outfit';
    color: black;
    border: 1px solid #CBC8DE;
    border-radius: 9px;
    font-weight: 500;

    width: 27.65vw;
    height: 7.22vh;
    padding: 0 0 0 20px;
}

.form__input__viewport::placeholder
{
    font-size: 16px;
}