h1 {
  margin: 0px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  
}
img
{

  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.expander
{
  width: 100%;
}

.expander__medium
{
  width: 75%;
}

.link
{
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  
  text-decoration: none;
  color: #0075FF;
}

.link:hover
{

  text-decoration: underline;
}

body,
html {
  user-select: none;
  overflow: hidden;
  margin:0px;
  padding:0px;
  height:100%;
  min-height: 100vh;
}
body {
  background-color: white;
  font-family: "Outfit", sans-serif;
  margin: 0;
}

input {

}



hr {
  width: 100%;
}

button {
  font-family: "Outfit";
  border: none;
  outline: none;
}
button:hover {
  cursor: pointer;
}




.Container_titles
{
  text-align: center;
}



.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-self: center;

}
.SubjectListContainer {
  background-color: #ffffff;
  /* width: 20%; */
  width: 229px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* height: 881px; */
  height: 100%;
}






.TaskContainer {
  flex-direction: column;
  display: flex;
  gap: 15px;
  /* width: 40%; */
  width: 500px;
  padding: 50px;
  margin-top: 70px;
}






.StudentListContainer
{
  width: 640px;
    flex-direction: column;
    display: flex;
    gap: 15px;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    margin-top: 70px;
    margin-right: 50px;
}

.TaskDescriptionContainer 
{
  width: 640px;
  flex-direction: column;
  display: flex;
  gap: 15px;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  margin-top: 70px;
  margin-right: 50px;
}


.orange_accent
{
  color: #FF9B35;
}

.purple_accent
{
  color: #8F8AD9;
}

.white
{
  color: white;
}