html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


h1 {
  margin: 0px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  color: #BEBEBE;
  
}

.GridContainer
{
  display: grid;
  grid-template-columns: repeat(12, 64px);
padding-left: 32px;
padding-right: 32px;
  grid-column-gap: 32px;
  grid-row-gap: 8px;

  margin-top: 64px;
  margin-bottom: 64px;
  /* 2x64 margin top,bottom= 128 */
  height: calc(100% - 128px);
}

.App_Container
{
  height: 100%;
  background-color: #F8F8F8;

  /* display: grid;
  grid-template-columns: repeat(12, 76px);

  grid-column-gap: 36px;
  grid-row-gap: 8px;


  vertical-align: middle;
  max-height: 100%;

  background-color: white; */

}

#root
{
  height: 100%;
}
img
{

  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.expander__full
{
  width: 100%;
}

.expander__medium
{
  width: 75%;
}

.expander__small
{
  width: 50%;
}

.link
{
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  
  text-decoration: none;
  color: #0075FF;
}

.link:hover
{

  text-decoration: underline;
}

body,
html {
  user-select: none;
  overflow: hidden;
  margin:0;
  padding:0;
  height:100%;
  width: 100%;
  min-height: 100vh;
}
body {
  background-color: white;
  font-family: "Outfit", sans-serif;
  margin: 0;
}

input {

}



hr {
  width: 100%;
}

button {
  font-family: "Outfit";
  border: none;
  outline: none;
}
button:hover {
  cursor: pointer;
}




.Container_titles
{
  text-align: center;
}



.HomePage_Container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: center;

  height: 100%;
}






.TaskContainer {
  display: grid;
  grid-template-rows: 60% 40%;
  padding: 32px 32px;
  grid-column-start: 1;
  grid-column-end: 7;
  background-color: rgb(255, 255, 255);

}






.StudentListContainer
{
  display: grid;
  padding: 32px 32px;
  grid-column-start: 7;
  grid-column-end: 13;
  background-color: rgb(255, 255, 255);

}



.orange_accent
{
  color: #FF9B35;
}

.purple_accent
{
  color: #8F8AD9;
}

.white
{
  color: white;
}